<%= render "shared/form_errors", resource: field %>

<%= form_with model: [:admin, field] do |f| %>
  <div class="space-y-4">
    <%= render "shared/form_field",
        form: f,
        field: :name,
        label: t("fields.form.name"),
        type: "text" %>

    <%= render "shared/form_field",
        form: f,
        field: :description,
        label: t("fields.form.description"),
        type: "text_area",
        rows: 4 %>

    <%= render "shared/form_field",
        form: f,
        field: :status,
        label: t("fields.form.status"),
        type: "select",
        options: Field.statuses.keys.map { |k| [k.humanize, k] } %>
  </div>

  <div class="mt-6 flex items-center gap-2">
    <%= render "shared/button", text: t("Save"), type: :primary, submit: true %>
    <%= render "shared/button", text: t("Cancel"), type: :secondary, url: admin_fields_path %>
  </div>
<% end %>
