<div class="prose">
  <h1><%= current_user.email %></h1>
  <p>
    <%= link_to t("Edit"), edit_profile_path, class: "underline" %>
  </p>

  <h2><%= t("Skills") %></h2>
  <ul>
    <% current_user.user_skills.includes(:skill).each do |us| %>
      <li><%= us.skill.name %> — <%= us.level %></li>
    <% end %>
  </ul>
</div>


