<% content_for :title, t("auth.login") %>

<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="p-8 md:p-16 flex flex-col justify-center">
        <div class="w-full max-w-md mx-auto">
          <h1 class="text-3xl font-bold text-gray-800 mb-2"><%= t("auth.login") %> 👋</h1>
          <p class="text-gray-600 mb-8">Aujourd'hui est un nouveau jour. C'est votre jour. Connectez-vous pour commencer à gérer vos projets.</p>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="mb-4">
              <%= f.label :email, "Email", class: "block text-gray-700 text-sm font-medium mb-2" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "exemple@email.com", class: "w-full px-4 py-3 bg-gray-100 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
            </div>

            <div class="mb-6">
              <%= f.label :password, "Mot de passe", class: "block text-gray-700 text-sm font-medium mb-2" %>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: t("auth.characters_minimum", default: "8 caractères minimum"), class: "w-full px-4 py-3 bg-gray-100 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
              <div class="text-right mt-2">
                <%= link_to t("auth.forgot_password"), new_password_path(resource_name), class: "text-sm text-blue-600 hover:underline" %>
              </div>
            </div>

            <%= f.submit t("auth.login"), class: "w-full bg-gray-800 text-white py-3 rounded-lg font-semibold hover:bg-gray-900 transition duration-300" %>
          <% end %>

          <p class="text-center text-gray-600 mt-8">
            Vous n'avez pas de compte ?
            <%= link_to t("auth.register"), new_user_registration_path, class: "text-blue-600 font-medium hover:underline" %>
          </p>
        </div>

        <p class="text-center text-gray-400 text-sm mt-auto">© <%= Time.current.year %> Tous droits réservés</p>
      </div>

      <div class="hidden md:block">
        <img alt="Illustration" class="w-full h-full object-cover rounded-r-lg" src="https://lh3.googleusercontent.com/aida-public/AB6AXuB-VVsWTNIWdSUyPjydz0e61Gua5IuRwXU10WdM5K9izhsxNOd44q944w6WVtkIII0nzdnA1DckV4zvtiDBoMcR_SP-sxWBtdWPg3FGdmRhu42lZfDxo4lgUlIXao5xYap-UYbgehI27y3InZsezAwlP0hcO94fYqRtAnF739LBDB-EhiyQk9t3p4ia1pRMJJv3B2PqRM4j7JCMfaKqEN6T86bKUqx9nFwoqVmILDNKmMX6xPlzQBBHAI6r6hiPZYTTJqAknLOMKSk"/>
      </div>
    </div>
  </div>
</div>
