<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Insertrice" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= tag.meta name: "description", content: content_for(:description) || t('meta.description') %>
    <%= tag.meta name: "keywords", content: content_for(:keywords) || t('meta.keywords') %>

    <meta property="og:title" content="<%= content_for(:title) || t('meta.title') %>">
    <meta property="og:description" content="<%= content_for(:description) || t('meta.description') %>">
    <!-- <meta property="og:image" content="<= content_for(:image) || image_url('icon.png') >"> -->
    <meta property="og:url" content="<%= request.original_url %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for(:title) || t('meta.title') %>">
    <meta name="twitter:description" content="<%= content_for(:description) || t('meta.description') %>">
    <!-- <meta name="twitter:image" content="<= content_for(:image) || image_url('icon.png') || "" >"> -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <%= yield :header %>    
    <%= yield %>
    <%= render "shared/lp_footer" %>
  </body>
</html>
