<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Auth" %> · Insertrice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="min-h-screen bg-gray-50">
    <%= render "shared/flash" %>
    <main class="min-h-screen flex items-center justify-center p-4">
      <div class="w-full">
        <%= yield %>
      </div>
    </main>
  </body>
  </html>


